.google {
    width: auto;
    display: block; 
}
.img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.search {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}
